{
	"presets": [
		["@babel/preset-env", { "modules": false, "useBuiltIns": "usage" }]
	],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-syntax-import-meta"
	],
	"env": {
		"test": {
			"plugins": [["istanbul", { "exclude": ["./test/**/*", "build-utils/**/*"] }]]
		}
	}
}
